/* Establece estilos generales para todos los elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Establece la imagen de fondo y su comportamiento para el body */
body{
    background-image: url(../img/estacionamiento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Establece estilos para el contenido principal */
main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/* Establece el ancho máximo y posición del contenedor principal */
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

/* Establece los estilos para la caja trasera */
.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(99, 156, 236, 0.5);

}

/* Establece los estilos para los elementos dentro de la caja trasera */
.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

/* Establece los estilos para los párrafos y botones dentro de la caja trasera */
.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

/* Establece los estilos para el encabezado dentro de la caja trasera */
.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

/* Establece los estilos para los párrafos dentro de la caja trasera */
.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

/* Establece los estilos para los botones dentro de la caja trasera */
.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

/* Establece los estilos para el botón cuando se le pasa el cursor por encima */
.caja__trasera button:hover{
    background: #fff;
    color: #46A2FD;
}

/* Establece los estilos para el contenedor de login y registro */
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* Estilos generales del contenedor del formulario */
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

/* Estilos del título del formulario */
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

/* Estilos de los campos de entrada del formulario */
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

/* Estilos del botón del formulario */
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

/* Estilos del enlace del formulario */
.contenedor__login-register form a{
    padding: 10px 40px;
    margin-top: 20px;
    border:none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

/* Estilos del botón del formulario al pasar el cursor por encima */
.contenedor__login-register form button:hover{
    background-color: #60ee60;
}

/* Estilos para la sección de login del formulario */
.formulario__login{
    opacity: 1;
    display: block;
}

/* Estilos para la sección de registro del formulario */
.formulario__register{
    display: none;
}

/* Estilos para la sección de login y registro en pantallas de menor tamaño */
@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    /* Estilos para el contenedor de la caja trasera en pantallas de menor tamaño */
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    /* Estilos para los elementos de la caja trasera en pantallas de menor tamaño */
    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }

    /* Estilos para el contenedor de login y registro en pantallas de menor tamaño */
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    /* Estilos para el formulario en pantallas de menor tamaño */
    .contenedor__login-register form{
        position: relative;
    }
}

